<nav class="masthead">


  <div class="language-nav">
    <ul>
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </ul>
  </div>
  <img class="logo" src="/assets/AA_Times_Logo.png" alt="AA-times-logo">


  <div class="masthead-links">

    <li>Tuesday, October 18, 2016</li>
    <li><a href="#">Today's Paper</a></li>
    <li><a href="#">Video</a></li>
    <li>77°F</li>
    <button>AAO <strong>+100%</strong></button>


  </div>

</nav>
