<nav class="sections">
  <ul>


  <button>World</button>
  <button>San Francisco</button>
  <button>New York</button>
  <button>Bootcamp Prep</button>
  <button>Jumpstart</button>
  <button>Online</button>
  <button>Marketing</button>
  <button>TalentMatch</button>
  <button>Sales</button>
  <button>Alumni</button>
  <button>All</button>
  </ul>
</nav>
